.jumbotron {
  background-color: #6886c5;
  color: #ffacb7;
  padding: 100px 0;
  text-align: center;
}


.brand-icon {
    font-size: 100px;
}
.card-columns{
  background-color: #f9f9f9;
  color: #ffe0ac;  
}

